body {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  padding: 20px;
  background-color: rgb(10, 38, 58);
  box-shadow: 5px 5px 15px 0px rgba(68, 66, 66, 0.85);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  height: 60px;
}

.text-container h1 {
  margin: 0;
  color: white;
  font-size: 25px;
  font-weight: bold;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 900px;
}

.box {
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 1600px;
  height: 630px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  margin: 50px auto;
  box-shadow: 5px 5px 15px 0px rgba(68, 66, 66, 0.85);
  backdrop-filter: blur(10px);
}

h1 {
  margin-top: 0;
  font-size: 40px;
}

h2 {
  margin-top: 0;
  font-size: 28px;
}

h3 {
  margin-top: 0;
  font-size: 20px;
}

button {
  width: 200px;
  height: auto;
  padding: 6px 12px;
  border-radius: 20px;
  background-color: rgb(10, 38, 58);
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

button:hover {
  background-color: #ffffff;
  color: rgb(10, 38, 58);
}

  
.info-btn {
    width: 28px;
    height: 28px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    color: rgb(10, 38, 58);
    margin-top: -7px;
  }
  
  .info-popup {
    position: fixed;
    top: 20px;    
    right: 10px;
    bottom: 20px;
    width: 50%;
    height: 610px;
    padding: 10px;
    color: rgb(10, 38, 58);
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    display: none;
    text-align: left;
  }
  
  
  .info-popup p {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
  }
  
  .info-popup a {
    color: #333;
    text-decoration: underline;
  }
  
  .info-btn-container:hover .info-popup {
    display: block;
  }

  .question {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 30px;
  }
  
  .radio-buttons {
    display: inline-flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 18px;
    margin-right: 40px;
  }

  .check-buttons {
    display: inline-flex;
    align-items: flex-start;
    font-weight: bold;
    margin-right: 0.1px;
    margin-top: 3px;
  }
  
  
  
  